*{margin: 0px; padding: 0px; text-decoration: none; list-style: none; font-family: "Times New Roman";}
.container{width: 1200px; margin: auto; overflow: hidden; padding-top: 50px; font-size: 19px;}
h2{text-align: center; color: rgb(54, 95, 145);}
.tel{width: 100%; text-align: center; margin-top: 10px;}
.item{margin-top: 15px;}
i{font-weight: 1000; color: rgb(54, 95, 145); font-weight: bolder; font-size: 25px;}
.time{width: 100%; display: flex; justify-content: space-between; }
.item  li span{width: 5px; height: 5px; display: block; background-color: #000; border-radius: 10px;}
.item li{display: flex; align-items: center; font-size: 18px; margin: 3px 0; }
.item li span{font-size: 30px; font-weight: bolder; margin-right: 15px;}
.item li font{display: block; margin: auto;}
.min{display: flex; align-items: center; flex-wrap: wrap; width: 100%; overflow: hidden; text-indent: 1em;}
.min span{width: 3px; height: 3px; background-color: #000; border-radius: 50%; display: block; margin-right: 10px;}
